@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&display=swap');

$static: 'http://localhost:5051/images/bg/dotnoise-light-grey.png';

$speed:3.5s;

//colors
$header_heading: #454545;
$header_font: 'Abril Fatface', cursive;
$bg: #8fe2ec;
$label_1: #e6584c;
$label_2: #484848;
$label_3: #f8f8f8;
$tape_1: #4b4b56;
$tape_2: #353535;
$tape_3: #adadad;
$footer_heading: #6495ED;
$footer_font: 'Lobster', cursive;