<%- include("../templates/partials/header.ejs") %>

<div class="grain">
</div>
<div class="cassette">
    <%-include('contents/content.ejs') %>
</div>

<%- include("../templates/partials/footer.ejs") %>