.papper__fold {
  position: relative;
  display: inline-block;
  width: 30%;
  background-color: #000cdd;
  border: 0px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100%, 100%, 0% 100%, 0% 50%);
          clip-path: polygon(10% 0%, 100% 0%, 100%, 100%, 0% 100%, 0% 50%);
  border-bottom-right-radius: 23px;
  margin-left: 2rem;
}
.papper__fold h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 10px;
  padding-left: 7px;
  padding-top: 1px;
}
.papper__fold:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.4) 27px, #025364);
  left: -1px;
  top: -1px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 0px #000;
          box-shadow: 1px 1px 2px 0px #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.papper__fold:hover::before {
  width: 0px;
  height: 0px;
}
.papper__fold:hover {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

@media (min-width: 992px) {
  .papper__fold {
    width: 15%;
  }
}