.home__content .box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 0;
}
.home__content .box__content .column__1 {
  background-color: #ff01de;
  height: 50vh;
  width: 30%;
}
.home__content .box__content .column__2 {
  background-color: #cedf00;
  height: 50vh;
  width: 30%;
}
.home__content .box__content .column__3 {
  background-color: #013efa;
  height: 50vh;
  width: 30%;
}