<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./assets/css/main.css">
	<title>
		Solar System
	</title>
</head>
<body>
	<div class="system">
		<div class="system__orbit system__orbit--sun">
			<img src="./assets/images/planet/sun.png" alt="Sun" class="system__icon system__icon--sun">
		</div>

		<div class="system__orbit system__orbit--mercury">
			<div class="system__planet system__planet--mercury">
				<img src="./assets/images/planet/mercury.png" alt="Mercury">
			</div>
		</div>
		<div class="system__orbit system__orbit--venus">
			<div class="system__planet system__planet--venus">
				<img src="./assets/images/planet/venus.png" alt="Venus">
			</div>
		</div>
		<div class="system__orbit system__orbit--earth">
			<div class="system__planet system__planet--earth">
				<img src="./assets/images/planet/earth.png" alt="Earth">
			</div>
		</div>
		<div class="system__orbit system__orbit--mars">
			<div class="system__planet system__planet--mars">
				<img src="./assets/images/planet/mars.png" alt="Mars">
			</div>
		</div>
		<div class="system__orbit system__orbit--jupiter">
			<div class="system__planet system__planet--jupiter">
				<img src="./assets/images/planet/jupiter.png" alt="Jupiter">
			</div>
		</div>
		<div class="system__orbit system__orbit--saturn">
			<div class="system__planet system__planet--saturn">
				<img src="./assets/images/planet/saturn.png" alt="Saturn">
			</div>
		</div>
		<div class="system__orbit system__orbit--uranus">
			<div class="system__planet system__planet--uranus">
				<img src="./assets/images/planet/uranus.png" alt="Uranus">
			</div>
		</div>
		<div class="system__orbit system__orbit--neptune">
			<div class="system__planet system__planet--neptune">
				<img src="./assets/images/planet/neptune.png" alt="Neptune">
			</div>
		</div>
	</div>
</body>
</html>